<h1>Familles</h1>
<a routerLink="/familys-new">Ajouter une famille</a>

<section>
    <table>
        <thead>
            <th>Règne</th>
            <th>Embranchement</th>
            <th>Classe</th>
            <th>Ordre</th>
            <th>Famille</th>
        </thead>
        <tbody *ngFor="let family of familys">
            <tr>
                <td>{{ family.kingdom_name }}</td>
                <td>{{ family.phylum_name }}</td>
                <td>{{ family.class_name }}</td>
                <td>{{ family.order_name }}</td>
                <td>{{ family.family_name }}</td>
            </tr>
        </tbody>
    </table>
</section>
