/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2D9F46;
    color: #FCFCFC;
}

.left_nav, .right_nav {
    margin: 8px 24px;
}

nav a {
    color: #FCFCFC;
    margin: 0px 8px;
    transition: ease 0.2s;
}

nav a:hover {
    color: #294844;
}