.room_card {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 8px;
    background-color: #DFE3E8;
    color: #294844;
    border-radius: 12px;
    max-width: 189px;
    max-height: 189px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    transition: ease 0.2s;
    border: solid 0px #F8BA03;
}

.room_card:hover {
    border-left: solid 12px #F8BA03;
}

.spacebw_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacebw_header a {
    font-size: 24px;
}

.add_btn {
    font-weight: bold;
    transition: ease 0.2s;
}

.add_btn:hover {
    transform: scale(1.8);
    color: #2D9F46;
}