<h1>Ajouter une classe</h1>

<form [formGroup]="addClassForm" (ngSubmit)="createClass()">

    <p>Nom :</p>
    <input type="string" id="class_name" formControlName="class_name">
    <p>Embranchement :</p>
    <select type="number" id="phylum_id" formControlName="phylum_id">
        <option value=""></option>
        <option *ngFor="let phylum of phylums" value="{{ phylum.phylum_id }}">{{ phylum.phylum_name }}</option>
    </select>


    <button class="primary_btn" type="submit" [disabled]="addClassForm.invalid">Valider</button>

</form>